@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container text-center">
    <div class="col align align-content-center">
        @foreach (Post post in Model.GetPosts())
        {
            <div class="card w-50 start-50 translate-middle-x" style="height: 200px;">
                <h6>@post.username</h6>
                <h6 class="text-secondary">- @Post.GetTimeRelative(post.time)</h6>
                <br>
                <div class="card-body">
                    @post.content
                </div>
            </div>
        }
    </div>
</div>
